<nav class="navbar navbar-light" style="background-color: #325b8d;">
  <a class="navbar-brand " href="#">{{title}} - Guneet</a>
</nav>
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">{{title}} </h1>
      <p class="lead text-muted">The classic poker dice game with 5 dice</p>
      <br>

    </div>

 
    <div class="container-fluid">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
         <app-dice></app-dice>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </section>
</main>