<div class="row">
    <div class="col-2">
        <button class="btn btn-warning" *ngIf="submissionData!=0" type="submit" (click)="submission()">Submit </button>
       
    </div>
    <!-- <div *ngFor="let i of submitGame">
        <div>
             {{i}}
        </div>
       </div> -->
</div>
<div class="row">
    <div class="col-2">
        <span class="" *ngIf="submissionData!=0">Winner: Player</span>
    </div>
</div>

<b>Response from parent : {{ submissionData | json }}</b>