<form [formGroup]="playersForm" (ngSubmit)="totalPlayers(); playersForm.reset()" class="form-inline">


    <div class="col-2 my-2">

        <select class="custom-select" formControlName="players">
            <option selected>Number of players</option>
            <option *ngFor="let play of players">{{play}}</option>

        </select>

        <!-- <input type="tex" class="form-control" formControlName="players"> -->
    </div>

    <button class="btn btn-success" *ngIf="dummy!=1" type="submit">Start Game</button>
    <button class="btn btn-warning ml-3" *ngIf="dummy!=0" type="submit" (click)="resetForm()">Restart Game </button>
</form>
{{save | json}}
<div class="album py-5 bg-light">
    <div class="row">
        <div class="col-3" *ngFor="let numBox of dummy; let i = index;trackBy: trackByBox">
            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <div class="card-header">Player {{numBox}}</div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-2"
                            *ngFor="let v of save['player_' + numBox]; trackBy:trackByFn; let i = index; ">
                            <div class="dice">{{v}}</div>
                            <!-- <div class="dice" *ngIf="v.id== numBox">{{v}}</div> -->

                        </div>
                    </div>

                    <h5 class="card-title"></h5>
                    <button class="btn btn-warning" type="submit" [id]="'player_'+numBox" (click)="diceRoll(numBox)"
                        [disabled]="disabled">
                        Roll Dice - Player {{numBox}}
                    </button>

                    <p class="card-text">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-result></app-result>